<div class="login-container">
  <img class="image-container" src="s-1.svg" alt="login">
  <div class="login-info-container">
  <h1 class="tittle">Queremos conocerte!</h1>
  <form class="inputs-container" (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm" autocomplete="off">
          <div class="form-group">
            <input 
            class="input" 
            type="text"
            id="firstName"
            name="firstName"
            ngModel
            required
            #firstName="ngModel"
            [ngClass]="{ 'is-invalid': firstName.invalid && firstName.touched }"
            placeholder="Nombre">
            <div *ngIf="firstName.invalid && firstName.touched" class="invalid-feedback">
              El nombre es requerido.
            </div>
          </div>
          
  
          <div class="form-group">
            <input 
            class="input" 
            type="text"
            id="lastName"
            name="lastName"
            ngModel
            required
            #lastName="ngModel"
            [ngClass]="{ 'is-invalid': lastName.invalid && lastName.touched }"
            placeholder="Apellido">
            <div *ngIf="firstName.invalid && firstName.touched" class="invalid-feedback">
              El nombre es requerido.
            </div>
          </div>
          
          <div class="form-group">
            <input 
            class="input" 
            type="email"
            id="email"
            name="email"
            ngModel
            required
            email
            #email="ngModel"
            [ngClass]="{ 'is-invalid': email.invalid && email.touched }"
            placeholder="Correo electronico">
            <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
              Email es requerido y debe ser válido.
            </div>
  
          </div>
  
          <div class="form-group">
            <input
              class="input"
              type="password"
              id="password"
              name="password"
              ngModel
              required
              minlength="6"
              #password="ngModel"
              [ngClass]="{ 'is-invalid': password.invalid && password.touched }"
              placeholder="Contraseña"
            >
            <div>
              <div *ngIf="password.errors?.['required'] && password.touched" class="error-message">
                La contraseña es obligatoria.
              </div>
              <div *ngIf="password.errors?.['minlength'] && password.touched" class="error-message">
                La contraseña debe tener al menos 6 caracteres.
              </div>
            </div>
          </div>
           
    <button class="btn" type="submit" [disabled]="registerForm.invalid">Registrarse</button>
    <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
    </div>
    <a routerLink="/home"><span class="span">Regresar</span></a>
  </form>
  </div>
  </div>
  
  
  <div *ngIf="showLoadingModal" class="modal-overlay">
    <div class="modal">
      <h2>Registrando...</h2>
      <p>Estamos procesando tu registro. Por favor espera.</p>
      <div class="spinner"></div> <!-- Aquí está el spinner -->
    </div>
  </div>
  
  <!-- Modal de verificación (solo se muestra después de que el registro haya sido exitoso) -->
  <div *ngIf="showVerificationModal" class="modal-overlay">
    <div class="modal">
      <h2>Verificación de Correo</h2>
      <p>Ingresa el código de verificación que enviamos a tu correo electrónico.</p>
      <input
        type="text"
        [(ngModel)]="verificationCode"
        placeholder="Código de verificación"
        class="input"
      />
      <div class="botones">
        <button class="btn" (click)="verifyCode()">Verificar</button>
        <button class="btn btn-close" (click)="closeModal()">Cancelar</button>
        
      </div>
      <div *ngIf="verificationError" class="error-message">
        {{ verificationError }}
      </div>
    </div>
  </div>